* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
}
body::-webkit-scrollbar {
  display: none;
}

.md-editor .md-editor-toolbar-wrapper .md-editor-toolbar-left, .md-editor-toolbar-wrapper .md-editor-toolbar-right {
  display: block;
}

.md-editor-dark {
  --md-bk-color: rgb(24, 24, 28) !important;
}
